<!DOCTYPE html>
<!-- saved from url=(00php -->
<html class="no-js" lang="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Abraham</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">

    <!-- Dependency Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./Ree _ Home One_files/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./Ree _ Home One_files/all.min.css " type="text/css ">
    <link rel="stylesheet " href="./Ree _ Home One_files/animate.min.css " type="text/css ">
    <link rel="stylesheet " href="./Ree _ Home One_files/meanmenu.min.css " type="text/css ">
    <link rel="stylesheet " href="./Ree _ Home One_files/flaticon.css " type="text/css ">
    <link rel="stylesheet " href="./Ree _ Home One_files/magnific-popup.css " type="text/css ">
    <link rel="stylesheet " href="./Ree _ Home One_files/owl.carousel.min.css " type="text/css ">
    <link rel="stylesheet " href="./Ree _ Home One_files/owl.theme.default.min.css " type="text/css ">

    <!-- Google Web Fonts -->
    <link href="/Ree _ Home One_files/css" rel="stylesheet ">

    <!-- Site Stylesheet -->
    <link rel="stylesheet " href="./Ree _ Home One_files/style.css " type="text/css ">

    <!-- Switcher Only -->
    <link rel="stylesheet " id="switcher-css " type="text/css " href="./Ree _ Home One_files/switcher.css " media="all ">
    <!-- Light -->
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/fire-bush(1).css " title="fire-bush " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/pastel-green(1).css " title="pastel-green " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/electric-violet(1).css " title="electric-violet " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/blue(1).css " title="blue " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/razzmatazz(1).css " title="razzmatazz " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/caribbean-green(1).css " title="caribbean-green " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/cornflower-blue(1).css " title="cornflower-blue " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/purple(1).css " title="purple " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/azure-radiance(1).css " title="azure-radiance " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/flush-orange(1).css " title="flush-orange " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/apple(1).css " title="apple " media="all ">
    <link rel="alternate stylesheet " type="text/css " href="./Ree _ Home One_files/red(1).css " title="red " media="all ">
    <link rel="stylesheet" media="all" href="./Ree _ Home One_files/crayons-d6e95a71c4844d3b1c78f7b84da3367cb170898c3831e24bf0f27696eecdf411.css" id="main-views-stylesheet">
    <link rel="stylesheet" media="all" href="./Ree _ Home One_files/views-cf27e2da5930b864cc8f6404dc7f652111ffe1f9a233dc80b16b7f6def34b8f9.css" id="main-crayons-stylesheet">

</head>

<style>
    .radius-full {
        border-radius: 50%;
    }
    
    .textT {
        font-size: 15px;
    }
</style>

<body data-new-gr-c-s-check-loaded="14.1039.0 " data-gr-ext-installed=" " cz-shortcut-listen="true " class="loaded " data-spy="scroll" data-target="#dropdown">
    <!--[if IE]>
  <p class="browserupgrade ">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/ ">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <div class="preloader active-gif ">
        <div class="preloader-gif ">
            <img src="./Ree _ Home One_files/preloader.gif " alt="Preloader ">
        </div>
    </div>
    <div id="wrapper" class="wrapper ">
        <!--=====================================-->
        <!--=            Header Start           =-->
        <!--=====================================-->
        <header class="sticky-header menu-layout1 sticky ">
            <div class="container ">
                <div class="row d-flex align-items-center ">
                    <div class="col-lg-2 ">
                        <div class="logo-area ">
                            <a href="index.html">
                                <p class="" style="padding-top: -14px; font-weight: bolder; font-size: 25px;">Abraham</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10 d-flex justify-content-end">
                        <nav id="dropdown" class="template-main-menu" style="display: block;">
                            <ul id="onepage_nav">
                                <li class="current"><a href="#wrapper">Home</a></li>
                                <li class=""><a href="#section2">About</a></li>
                                <li class=""><a href="#section3">Skills</a></li>
                                <li class=""><a href="#section4">Experiences</a></li>
                                <!-- <li class=""><a href="#section5">Portfolio</a></li> -->
                                <!-- <li class=""><a href="#section6">Pricing</a></li> -->
                                <!-- <li class=""><a href="#section7">Blog</a></li> -->
                                <li class=""><a href="#section8">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--=====================================-->
        <!--=             Header End            =-->
        <!--=====================================-->
        <!--=====================================-->
        <!--=            Banner Start           =-->
        <!--=====================================-->
        <section class="fxt-main-banner-section bg-common " data-bg-image="./Ree _ Home One_files/banner1.jpg" style="background-image: url('./Ree _ Home One_files/banner1.jpg'); ">
            <div class="container ">
                <div class="fxt-main-banner-box-layout1 has-animation active-animation ">
                    <div class="top-content ">
                        <div class="item-img ">
                            <div class="translate-zoomout-10 opacity-animation transition-50 transition-delay-100 ">
                                <img src="./Ree _ Home One_files/meF.jpg" alt="Figure " width="250px">
                            </div>
                        </div>
                        <div class="item-content ">
                            <div class="translate-bottom-100 opacity-animation transition-150 transition-delay-500 ">
                                <div class="item-top-text ">Hello</div>
                            </div>
                            <div class="translate-bottom-100 opacity-animation transition-150 transition-delay-800 " style="font-weight: 300;">
                                <h1 class="item-title">I'm Abraham Omoniyi</h1>
                            </div>

                            <div class="translate-bottom-100 opacity-animation transition-150 transition-delay-1100 ">
                                <div class="cd-intro ">
                                    <h2 class="small-text cd-headline clip ">
                                        <span class="item-subtitle ">A </span>
                                        <span class="cd-words-wrapper " style="width: 4.63569px; overflow: hidden; ">
                                            <b class="item-subtitle is-hidden ">Front-End Developer</b>
                                            <b class="is-visible ">Back-End Developer</b>
                                            <b class="is-hidden ">Full Stack Web Developer</b>
                                            <b class="is-hidden ">Mobile Application Developer</b>

                                        </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=             Banner End            =-->
        <!--=====================================-->
        <!--=====================================-->
        <!--=            About Start           =-->
        <!--=====================================-->
        <section class="fxt-about-section bg-color-1 " id="section2">
            <div class="container ">
                <div class="fxt-heading-layout1 ">
                    <h2 class="heading-title ">About Me</h2>
                    <div class="heading-line "></div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-12 has-animation active-animation ">
                        <div class="fxt-about-box-layout1 ">
                            <div class="translate-zoomout-10 opacity-animation transition-50 transition-delay-500 ">
                                <div class="item-img ">
                                    <img data-tilt=" " src="./Ree _ Home One_files/meS.jpg" alt="About ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-12 ">
                        <div class="fxt-about-box-layout2 ">
                            <h3 class="item-title ">Abraham Omoniyi</h3>
                            <div class="item-subtitle "> Software developer</div>
                            <p>In the past few years I have built many Websites, Web applications and Mobile Applications, with a focus on MERN(MongoDB, Express, React/React-Native, Node js) Stack. My core ability is complete engineering of Web and Mobile applications from the ground up, choosing an appropriate database,
                                logic, and UI technologies from the array of existing options.I have taken part in different interesting projects and got an extensive experience in development and maintenance of Softwares, recieving a 5 STAR review for
                                my performance. I am Devoted, Eager and Passionate to Gratify.
                            </p>
                            <br>
                            <div class="personal-info ">
                                <div class="row ">
                                    <div class="col-md-6 col-12 ">
                                        <div class="info-list ">
                                            <ul>
                                                <li><span>City:</span>Abuja</li>
                                                <li><span>Study:</span>Lincoln College of Science Management and Technology (Abuja)</li>
                                                <!-- <li><span>Certification:</span>Responsive Web Design Certification [FreeCodeCamp]</li> -->
                                            </ul>
                                            <ul>
                                                <li><span>City:</span>Keffi</li>
                                                <li><span>Study:</span>Lincoln University NSUK Campus</li>
                                                <!-- <li><span>Certification:</span>Responsive Web Design Certification [FreeCodeCamp]</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 ">
                                        <div class="info-list ">
                                            <ul>
                                                <!-- <li><span>Diploma:</span>Diploma in Web Development</li> -->
                                                <li><span>Mail:</span>ife04abraham@gmail.com</li>
                                                <!-- <li><span>Certification:</span>Vanilla JavaScript Programming [Michigan State University]</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=             About End             =-->
        <!--=====================================-->
        <!--=====================================-->
        <!--=            Skill Start           =-->
        <!--=====================================-->
        <section class="fxt-skill-section " id="section3">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-6 ">
                        <div class="fxt-skill-wrap-layout1 ">
                            <div class="item-heading ">
                                <h2 class="item-title "> Skills</h2>
                            </div>
                            <ul class="fxt-skill-box-layout1 ">
                                <li class="single-item ">
                                    <label>JavaScript</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="0ms " data-wow-duration="2000ms " role="progressbar " style="width: 100%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name:
        slideInLeft; ">
                                            <span>100%</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-item ">
                                    <label>HTML5</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="200ms " data-wow-duration="2000ms " role="progressbar " style="width: 100%; visibility: visible; animation-duration: 2000ms; animation-delay: 200ms; animation-name:
        slideInLeft; ">
                                            <span>100%</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-item ">
                                    <label>CSS3</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="300ms " data-wow-duration="2000ms " role="progressbar " style="width: 100%; visibility: visible; animation-duration: 2000ms; animation-delay: 300ms; animation-name:
        slideInLeft; ">
                                            <span>100%</span>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li class="single-item ">
                                    <label>Python</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="400ms " data-wow-duration="2000ms " role="progressbar " style="width: 63%; visibility: visible; animation-duration: 2000ms; animation-delay: 400ms; animation-name:
        slideInLeft; ">
                                            <span>63%</span>
                                        </div>
                                    </div>
                                </li> -->
                                <!-- <li class="single-item ">
                                    <label>Flutter / Dart</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="400ms " data-wow-duration="2000ms " role="progressbar " style="width: 75%; visibility: visible; animation-duration: 2000ms; animation-delay: 400ms; animation-name:
        slideInLeft; ">
                                            <span>75%</span>
                                        </div>
                                    </div>
                                </li> -->
                                <li class="single-item ">
                                    <label>React Native</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="400ms " data-wow-duration="2000ms " role="progressbar " style="width: 100%; visibility: visible; animation-duration: 2000ms; animation-delay: 400ms; animation-name:
        slideInLeft; ">
                                            <span>100%</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="fxt-skill-wrap-layout2 ">
                            <div class="item-heading ">
                                <h2 class="item-title ">Frameworks and Libraries</h2>
                            </div>
                            <ul class="fxt-skill-box-layout2 ">
                                <li class="single-item ">
                                    <label>Bootstrap</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="0ms " data-wow-duration="2000ms " role="progressbar " style="width: 75%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name:
        slideInLeft; ">
                                            <span>75%</span>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li class="single-item ">
                                    <label>Django</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="0ms " data-wow-duration="2000ms " role="progressbar " style="width: 45%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name:
        slideInLeft; ">
                                            <span>45%</span>
                                        </div>
                                    </div>
                                </li> -->
                                <li class="single-item ">
                                    <label>Node.js</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="200ms " data-wow-duration="2000ms " role="progressbar " style="width: 100%; visibility: visible; animation-duration: 2000ms; animation-delay: 200ms; animation-name:
        slideInLeft; ">
                                            <span>100%</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-item ">
                                    <label>React.js</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="300ms " data-wow-duration="2000ms " role="progressbar " style="width: 100%; visibility: visible; animation-duration: 2000ms; animation-delay: 300ms; animation-name:
        slideInLeft; ">
                                            <span>100%</span>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li class="single-item ">
                                    <label>REST</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="0ms " data-wow-duration="2000ms " role="progressbar " style="width: 49%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name:
        slideInLeft; ">
                                            <span>49%</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-item ">
                                    <label>Material UI</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="400ms " data-wow-duration="2000ms " role="progressbar " style="width: 97%; visibility: visible; animation-duration: 2000ms; animation-delay: 400ms; animation-name:
        slideInLeft; ">
                                            <span>97%</span>
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-6 ">
                        <div class="fxt-skill-wrap-layout1 ">
                            <div class="item-heading ">
                                <h2 class="item-title "> Database</h2>

                            </div>
                            <ul class="fxt-skill-box-layout1 ">
                                <li class="single-item ">
                                    <label>MYSQL</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="0ms " data-wow-duration="2000ms " role="progressbar " style="width: 64%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name:
        slideInLeft; ">
                                            <span>64%</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-item ">
                                    <label>SQlite</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="200ms " data-wow-duration="2000ms " role="progressbar " style="width: 45%; visibility: visible; animation-duration: 2000ms; animation-delay: 200ms; animation-name:
        slideInLeft; ">
                                            <span>45%</span>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li class="single-item ">
                                    <label>DynamoDB</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="300ms " data-wow-duration="2000ms " role="progressbar " style="width: 98%; visibility: visible; animation-duration: 2000ms; animation-delay: 300ms; animation-name:
        slideInLeft; ">
                                            <span>98%</span>
                                        </div>
                                    </div>
                                </li> -->
                                <li class="single-item ">
                                    <label>MongoDB</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="400ms " data-wow-duration="2000ms " role="progressbar " style="width: 100%; visibility: visible; animation-duration: 2000ms; animation-delay: 400ms; animation-name:
        slideInLeft; ">
                                            <span>100%</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!-- <div class="col-lg-6 ">
                        <div class="fxt-skill-wrap-layout2 ">
                            <div class="item-heading ">
                                <h2 class="item-title ">Paradigms</h2>

                            </div>
                            <ul class="fxt-skill-box-layout2 ">
                                <li class="single-item ">
                                    <label>Test-Driven Development</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="0ms " data-wow-duration="2000ms " role="progressbar " style="width: 50%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name:
        slideInLeft; ">
                                            <span>50%</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-item ">
                                    <label>Agile Software Development</label>
                                    <div class="progress ">
                                        <div class="progress-bar wow slideInLeft " data-wow-delay="200ms " data-wow-duration="2000ms " role="progressbar " style="width: 85%; visibility: visible; animation-duration: 2000ms; animation-delay: 200ms; animation-name:
        slideInLeft; ">
                                            <span>85%</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=             Skill End             =-->
        <!--=====================================-->
        <!--=====================================-->
        <!--=            Service Start          =-->
        <!--=====================================-->
        <section class="fxt-service-section bg-color-1 " id="section4">
            <div class="container ">
                <div class="fxt-heading-layout1 ">
                    <h2 class="heading-title ">What I do</h2>

                    <div class="heading-line "></div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-sm-6 col-12 has-animation active-animation ">
                        <div class="translate-left-10 opacity-animation transition-200 transition-delay-100 ">
                            <div class="fxt-service-box-layout1 ">
                                <div class="item-img animation-delay0 ">
                                    <img src="./Ree _ Home One_files/service1.png " alt="service ">
                                </div>
                                <div class="item-content ">
                                    <h3 class="item-title "><a href="index.html ">Full-Stack Development</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 has-animation active-animation ">
                        <div class="translate-left-10 opacity-animation transition-200 transition-delay-400 ">
                            <div class="fxt-service-box-layout1 ">
                                <div class="item-img animation-delay1 ">
                                    <img src="./Ree _ Home One_files/service2.png " alt="service ">
                                </div>
                                <div class="item-content ">
                                    <h3 class="item-title "><a href="index.html ">Web Development</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 has-animation active-animation ">
                        <div class="translate-left-10 opacity-animation transition-200 transition-delay-700 ">
                            <div class="fxt-service-box-layout1 ">
                                <div class="item-img animation-delay2 ">
                                    <img src="./Ree _ Home One_files/service3.png " alt="service ">
                                </div>
                                <div class="item-content ">
                                    <h3 class="item-title "><a href="index.html ">Mobile App Development</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-sm-6 col-12 has-animation active-animation ">
                        <div class="translate-left-10 opacity-animation transition-200 transition-delay-100 ">
                            <div class="fxt-service-box-layout1 ">
                                <div class="item-img animation-delay3 ">
                                    <img src="./Ree _ Home One_files/service4.png " alt="service ">
                                </div>
                                <div class="item-content ">
                                    <h3 class="item-title "><a hrephp ">Strategy Solutions</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 has-animation active-animation ">
                        <div class="translate-left-10 opacity-animation transition-200 transition-delay-300 ">
                            <div class="fxt-service-box-layout1 ">
                                <div class="item-img animation-delay4 ">
                                    <img src="Ree _ Home One_files/service5.png " alt="service ">
                                </div>
                                <div class="item-content ">
                                    <h3 class="item-title "><a hrephp ">Digital Marketing</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 has-animation active-animation ">
                        <div class="translate-left-10 opacity-animation transition-200 transition-delay-700 ">
                            <div class="fxt-service-box-layout1 ">
                                <div class="item-img animation-delay5 ">
                                    <img src="Ree _ Home One_files/service6.png " alt=" service ">
                                </div>
                                <div class="item-content ">
                                    <h3 class="item-title "><a hrephp ">S.E.O</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>


        <!-- Portfolio -->

        <!-- <section class="fxt-portfolio-section bg-color-1" id="section5">
            <div class="container">
                <div class="fxt-heading-layout1">
                    <h2 class="heading-title">Recent Portfolio</h2>
                    <div class="heading-line"></div>
                </div>
                <div class="isotope-wrap">
                    <div class="text-center">
                        <div class="isotope-classes-tab isotop-btn">
                            <a class="current nav-item" data-filter="*">All Categories</a>
                            <a class="nav-item" data-filter=".web">Web Development</a>
                            <a class="nav-item" data-filter=".mockups">Front-End Development</a>
                            <a class="nav-item" data-filter=".photography">Full-Stack Development</a>
                        </div>
                    </div> -->
                    <!-- 1 -->
                    <!-- <div class="row featuredContainer" style="position: relative; height: 840.843px;" id="portfolio">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mockups has-animation active-animation" style="position: absolute; left: 0px; top: 0px;">
                            <div class="translate-left-10 opacity-animation transition-200 transition-delay-100">
                                <div class="fxt-portfolio-box-layout1">
                                    <div class="item-img">
                                        <img src="./Ree _ Home One_files/Maths game.png" alt="Portfolio">
                                        <div class="item-content">
                                            <div class="item-icon">
                                                <a href="./Ree _ Home One_files/Maths game.png" class="popup-zoom " data-fancybox-group="gallery "></a>
                                            </div>

                                            <h3 class="item-title ">
                                                <a href="https://nier-portfolio.000webhostapp.com/2.%20Maths%20Game%20(JS)/" style="text-decoration: none; ">Maths Game</a>
                                            </h3>
                                            <div class="item-paragraph " style="margin-left: -15px; padding: 5px; ">I developed a responsive maths game web application that allows the user test his multiplication skills.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- 2 -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 web has-animation active-animation " style="position: absolute; left: 380px; top: 0px; ">
                            <div class="translate-left-10 opacity-animation transition-200 transition-delay-400 ">
                                <div class="fxt-portfolio-box-layout1 ">
                                    <div class="item-img ">
                                        <img src="./Ree _ Home One_files/COlor Game.png" alt="Portfolio ">
                                        <div class="item-content ">
                                            <div class="item-icon ">
                                                <a href="./Ree _ Home One_files/COlor Game.png" class="popup-zoom " data-fancybox-group="gallery "></a>
                                            </div>
                                            <h3 class="item-title "><a href="https://nier-portfolio.000webhostapp.com/11.%20Color%20Game/" style="text-decoration: none; ">RGB Color Game</a></h3>
                                            <div class="item-paragraph " style="margin-left: -15px; padding: 5px; ">RGB color game web app, can be used to teach students colors and color mixing.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- 3 -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 mockups has-animation active-animation " style="position: absolute; left: 760px; top: 0px; ">
                            <div class="translate-left-10 opacity-animation transition-200 transition-delay-700 ">
                                <div class="fxt-portfolio-box-layout1 ">
                                    <div class="item-img ">
                                        <img src="./Ree _ Home One_files/Fruit Slice Game.png" alt="Portfolio ">
                                        <div class="item-content ">
                                            <div class="item-icon ">
                                                <a href="./Ree _ Home One_files/Fruit Slice Game.png" class="popup-zoom " data-fancybox-group="gallery ">Fruit Slice Game</a>
                                            </div>
                                            <h3 class="item-title "><a href="https://nier-portfolio.000webhostapp.com/3.%20Slicer%20Game%20(jQuery)/" style="text-decoration: none; ">Fruit Slice Game</a></h3>

                                            <div class="item-paragraph " style="margin-left: -15px; padding: 5px; ">A web application with CSS3 animated forest background
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- 4 -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 photography has-animation active-animation " style="position: absolute; left: 0px; top: 280.281px; ">
                            <div class="translate-left-10 opacity-animation transition-200 transition-delay-1000 ">
                                <div class="fxt-portfolio-box-layout1 ">
                                    <div class="item-img ">
                                        <img src="./Ree _ Home One_files/mini.png" alt="Portfolio ">
                                        <div class="item-content ">
                                            <div class="item-icon ">
                                                <a href="./Ree _ Home One_files/mini.png" class="popup-zoom " data-fancybox-group="gallery ">
                                                </a>
                                            </div>
                                            <h3 class="item-title "><a href="https://nier-portfolio.000webhostapp.com/Practice1/" style="text-decoration: none; ">Mini-Restaurant Website</a></h3>
                                            <div class="item-paragraph " style="margin-left: -15px; padding: 5px; ">I developed a highly responsive restaurant website</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- 5 -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 web photography has-animation active-animation " style="position: absolute; left: 380px; top: 280.281px; ">
                            <div class="translate-left-10 opacity-animation transition-200 transition-delay-1300 ">
                                <div class="fxt-portfolio-box-layout1 ">
                                    <div class="item-img ">
                                        <img src="./Ree _ Home One_files/Landing page.png" alt="Portfolio ">
                                        <div class="item-content ">
                                            <div class="item-icon ">
                                                <a href="./Ree _ Home One_files/Landing page.png" class="popup-zoom " data-fancybox-group="gallery "></a>
                                            </div>
                                            <h3 class="item-title "><a href="https://nier-portfolio.000webhostapp.com/4.%20App%20Landing%20Websites%20(Bootstrap)/">App Landing Page
                                                    App</a></h3>
                                            <div class="item-paragraph " style="margin-left: -15px; padding: 5px; ">I created a Holiday Finder App landing page with Bootstrap UI</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- 6 -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 photography has-animation active-animation " style="position: absolute; left: 760px; top: 280.281px; ">
                            <div class="translate-left-10 opacity-animation transition-200 transition-delay-1600 ">
                                <div class="fxt-portfolio-box-layout1 ">
                                    <div class="item-img ">
                                        <img src="./Ree _ Home One_files/Pomodoro timer.png" alt="Portfolio ">
                                        <div class="item-content ">
                                            <div class="item-icon ">
                                                <a href="./Ree _ Home One_files/Pomodoro timer.png" class="popup-zoom " data-fancybox-group="gallery "></a>
                                            </div>
                                            <h3 class="item-title "><a href="https://nier-portfolio.000webhostapp.com/9.%20Pomodo%20Timer/">Pomodoro Timer</a></h3>
                                            <div class="item-paragraph " style="margin-left: -15px; padding: 7px; ">
                                                Pomodoro Timer Web App, easy to use web application for keeping track of time spent on various tasks.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- 7 -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 mockups has-animation active-animation " style="position: absolute; left: 0px; top: 560.562px; ">
                            <div class="translate-left-10 opacity-animation transition-200 transition-delay-1900 ">
                                <div class="fxt-portfolio-box-layout1 ">
                                    <div class="item-img ">
                                        <img src="./Ree _ Home One_files/StopWatch.png" alt="Portfolio ">
                                        <div class="item-content ">
                                            <div class="item-icon ">
                                                <a href="./Ree _ Home One_files/StopWatch.png" class="popup-zoom " data-fancybox-group="gallery "></a>
                                            </div>
                                            <h3 class="item-title ">
                                                <a href="https://nier-portfolio.000webhostapp.com/7.%20Stopwatch%20App%20(HTML,%20CSS,%20jQuery%20&%20Bootstrap)/">Stop Watch</a>
                                            </h3>
                                            <div class="item-paragraph " style="margin-left: -15px; padding: 7px; ">
                                                Stop Watch Web App featuring IOS Material UI.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- 8 -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 photography has-animation active-animation " style="position: absolute; left: 380px; top: 560.562px; ">
                            <div class="translate-left-10 opacity-animation transition-200 transition-delay-2200 ">
                                <div class="fxt-portfolio-box-layout1 ">
                                    <div class="item-img ">
                                        <img src="./Ree _ Home One_files/VR.png" alt="Portfolio ">
                                        <div class="item-content ">
                                            <div class="item-icon ">
                                                <a href="./Ree _ Home One_files/VR.png" class="popup-zoom " data-fancybox-group="gallery "></a>
                                            </div>
                                            <h3 class="item-title "><a href="https://nier-portfolio.000webhostapp.com/12.%20VR-Lawyer/">Portfolo Website</a></h3>
                                            <div class="item-paragraph " style="margin-left: -15px; padding: 7px; ">VR Lawyer portfolio website</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- 9 -->
                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 web has-animation active-animation " style="position: absolute; left: 760px; top: 560.562px; ">
                            <div class="translate-left-10 opacity-animation transition-200 transition-delay-2500 ">
                                <div class="fxt-portfolio-box-layout1 ">
                                    <div class="item-img ">
                                        <img src="./Ree _ Home One_files/Web Dev.png" alt="Portfolio ">
                                        <div class="item-content ">
                                            <div class="item-icon ">
                                                <a href="./Ree _ Home One_files/Web Dev.png" class="popup-zoom " data-fancybox-group="gallery "></a>
                                            </div>
                                            <h3 class="item-title "><a href="https://nier-portfolio.000webhostapp.com/6.%20Our%20Lovely%20Course%20Website%20(Bootstrap)/">Atheneum
                                                    Platform</a></h3>
                                            <div class="item-paragraph " style="margin-left: -15px; padding: 7px; ">A highly responsive web development course website.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--=====================================-->
        <!--=              Project End          =-->
        <!--=====================================-->
        <!--=====================================-->
        <!--=            Progress Start         =-->
        <!--=====================================-->
        <section class="fxt-progress-section bg-common bg-attachment-fixed " data-bg-image="Ree _ Home One_files/figure1.jpg " style="background-image: url( 'Ree _ Home One_files/figure1.jpg'); ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-3 col-sm-6 col-12 ">
                        <div class="fxt-progress-box-layout1 ">
                            <h2 class="counting-text counter ">15</h2>
                            <div class="item-label ">Project Works</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 ">
                        <div class="fxt-progress-box-layout1 ">
                            <h2 class="counting-text counter ">11</h2>
                            <div class="item-label ">Completed Project</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 ">
                        <div class="fxt-progress-box-layout1 ">
                            <h2 class="counting-text counter ">4</h2>
                            <div class="item-label ">Happy Clients</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 ">
                        <div class="fxt-progress-box-layout1 ">
                            <h2 class="counting-text counter ">1</h2>
                            <div class="item-label ">Award Wins</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=====================================-->
        <!--=             Pricing End           =-->
        <!--=====================================-->
        <!--=====================================-->
        <!--=            Blog Start             =-->
        <!--=====================================-->

        <!--=====================================-->
        <!--=               Blog End            =-->
        <!--=====================================-->
        <!--=====================================-->
        <!--=            Contact Start          =-->
        <!--=====================================-->
        <section class="fxt-contact-section bg-color-1 " id="section8 " data-bg-image="Ree _ Home One_files/figure.png " style="background-image: url( 'Ree _ Home One_files/figure.png'); ">
            <div class="container ">
                <div class="fxt-heading-layout1 ">
                    <h2 class="heading-title ">Contact Me</h2>
                    <div class="heading-line "></div>
                </div>
                <div class="row ">
                    <div class="col-lg-6 col-12 ">
                        <div class="fxt-contact-box-layout1 ">
                            <div class="contact-list ">
                                <div class="item-icon ">
                                    <i class="bi bi-geo-alt "></i>
                                </div>
                                <div class="item-content ">
                                    <h3 class="item-title ">Address</h3>
                                    <div class="item-text ">House No: 0251, Angwan-Sariki Orozo,</div>
                                    <div class="item-text ">Abuja, Nigeria.</div>
                                </div>
                            </div>
                            <div class="contact-list ">
                                <div class="item-icon ">
                                    <i class="bi bi-envelope-open "></i>
                                </div>
                                <div class="item-content ">
                                    <h3 class="item-title ">Email:</h3>
                                    <div class="item-text ">ife04abraham@gmail.com</div>
                                </div>
                            </div>
                            <div class="contact-list ">
                                <div class="item-icon ">
                                    <i class="bi bi-message"></i>
                                </div>
                                <div class="item-content ">
                                    <h3 class="item-title ">Social Media:</h3>

                                    <div class="item-text ">
                                        <a href="https://www.instagram.com/loswift6/"><i class="bi bi-instagram"></i></a>
                                        <a href="https://web.facebook.com/ife.omoniyi.54/"><i class="bi bi-facebook"></i></a>
                                        <a href="https://twitter.com/Ife74984482"><i class="bi bi-twitter"></i></a>
                                        <a href="https://www.linkedin.com/in/ife-abraham-3182b9213/"><i class="bi bi-linkedin"></i></a>
                                        <a href="https://github.com/OmoniyiIfeAbraham/"><i class="bi bi-github"></i></a>
                                    </div>

                                </div>
                            </div>
                            <div class="contact-list ">
                                <div class="item-icon ">
                                    <i class="bi bi-chat-dots"></i>
                                </div>
                                <div class="item-content ">
                                    <h3 class="item-title ">Phone:</h3>
                                    <div class="item-text ">+2349032825450</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 ">
                        <div class="fxt-contact-box-layout2 ">
                            <form action="/" method="POST" id="contact-form " actiophp ">
                                <div class="row ">
                                    <div class="col-lg-12 form-group ">
                                        <input type="text " class="form-control " placeholder="Full Name " name="fullName" data-error="Name field is required " required>
                                        <div class="help-block with-errors "></div>
                                    </div>
                                    <div class="col-lg-6 form-group ">
                                        <input type="text " class="form-control " placeholder="E-mail " name="email" data-error="Email field is required " required>
                                        <div class="help-block with-errors "></div>
                                    </div>
                                    <div class="col-lg-6 form-group ">
                                        <input type="text " class="form-control " placeholder="Subject " name="subject" data-error="Subject field is required " required>
                                        <div class="help-block with-errors "></div>
                                    </div>
                                    <div class="col-lg-12 form-group ">
                                        <textarea name="message" id="form-message " class="form-control textarea " placeholder="Your Message " cols="30 " rows="7 " data-error="Message field is required " required></textarea>
                                        <div class="help-block with-errors "></div>
                                    </div>
                                    <div class="col-lg-12 form-group ">
                                        <button type="submit " class="btn-fill submit-btn ">SEND MESSAGE</button>
                                    </div>
                                </div>
                                <div class="form-response "></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
            <!--=====================================-->
            <!--=             Contact End           =-->
            <!--=====================================-->
            <!--=====================================-->
            <!--=            Footer Start           =-->
            <!--=====================================-->
            <footer class="fxt-footer-section bg-color-2 ">
                <div class="container ">
                    <div class="fxt-footer-box-layout1 ">
                        <div class="copyright-text "><span class="yearJS "></span> Develop with Abraham. All Rights Reserved. <a href="# ">Terms &amp; Privacy.</a>
                        </div>
                    </div>
                </div>
            </footer>



            <!--=====================================-->
            <!--=             Footer End            =-->
            <!--=====================================-->
    </div>

    <!-- Start Switcher -->
    <div class="demo_changer ">
        <div class="demo-icon ">
            <i class="fa fa-cog fa-spin fa-2x "></i>
        </div>
        <div class="form_holder ">
            <h4 class="switcher-title ">Color Switcher</h4>
            <div class="color-changer ">
                <ul>
                    <li>
                        <a hrephp " rel="fire-bush " title="fire-bush " class="styleswitch "><img src="./Ree _ Home One_files/fire-bush.jpg " alt=" "></a>
                                </li>
                                <li>
                                    <a hrephp " rel="pastel-green " title="pastel-green " class="styleswitch "><img src="./Ree _ Home One_files/pastel-green.jpg " alt=" "></a>
                    </li>
                    <li>
                        <a hrephp " rel="electric-violet " title="electric-violet " class="styleswitch "><img src="./Ree _ Home One_files/electric-violet.jpg " alt=" "></a>
                                </li>
                                <li>
                                    <a hrephp " rel="blue " title="blue " class="styleswitch "><img src="./Ree _ Home One_files/blue.jpg " alt=" "></a>
                    </li>
                    <li>
                        <a hrephp " rel="razzmatazz " title="razzmatazz " class="styleswitch "><img src="./Ree _ Home One_files/razzmatazz.jpg " alt=" "></a>
                                </li>
                                <li>
                                    <a hrephp " rel="caribbean-green " title="caribbean-green " class="styleswitch "><img src="./Ree _ Home One_files/caribbean-green.jpg " alt=" "></a>
                    </li>
                    <li>
                        <a hrephp " rel="cornflower-blue " title="cornflower-blue " class="styleswitch "><img src="./Ree _ Home One_files/cornflower-blue.jpg " alt=" "></a>
                                </li>
                                <li>
                                    <a hrephp " rel="purple " title="purple " class="styleswitch "><img src="./Ree _ Home One_files/purple.jpg " alt=" "></a>
                    </li>
                    <li>
                        <a hrephp " rel="azure-radiance " title="azure-radiance " class="styleswitch "><img src="./Ree _ Home One_files/azure-radiance.jpg " alt=" "></a>
                                </li>
                                <li>
                                    <a hrephp " rel="flush-orange " title="flush-orange " class="styleswitch "><img src="./Ree _ Home One_files/flush-orange.jpg " alt=" "></a>
                    </li>
                    <li>
                        <a hrephp " rel="apple " title="apple " class="styleswitch "><img src="./Ree _ Home One_files/apple.jpg " alt=" "></a>
                                </li>
                                <li>
                                    <a hrephp " rel="red " title="red " class="styleswitch "><img src="./Ree _ Home One_files/red.jpg " alt=" "></a>
                    </li>
                </ul>
            </div>
            <div class="clearfix "></div>

        </div>
    </div>
    <!-- End Switcher -->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js "></script>
    <script src="https://use.fontawesome.com/58fd8e939e.js "></script>

    <!-- Dependency Scripts -->
    <script src="./Ree _ Home One_files/date.js "></script>
    <script src="./Ree _ Home One_files/jquery.min.js.download "></script>
    <script src="./Ree _ Home One_files/popper.min.js.download "></script>
    <script src="./Ree _ Home One_files/jquery.counterup.min.js.download "></script>
    <script src="./Ree _ Home One_files/jquery.waypoints.min.js.download "></script>
    <script src="./Ree _ Home One_files/jquery.magnific-popup.min.js.download "></script>
    <script src="./Ree _ Home One_files/imagesloaded.pkgd.min.js.download "></script>
    <script src="./Ree _ Home One_files/isotope.pkgd.min.js.download "></script>
    <script src="./Ree _ Home One_files/jquery.meanmenu.min.js.download "></script>
    <script src="./Ree _ Home One_files/jquery.nav.js.download "></script>
    <script src="./Ree _ Home One_files/owl.carousel.min.js.download "></script>
    <script src="./Ree _ Home One_files/parallaxie.js.download "></script>
    <script src="./Ree _ Home One_files/tilt.jquery.min.js.download "></script>
    <script src="./Ree _ Home One_files/animated.headline.min.js.download "></script>
    <script src="./Ree _ Home One_files/wow.min.js.download "></script>
    <script src="./Ree _ Home One_files/validator.min.js.download "></script>
    <script src="./Ree _ Home One_files/app.js.download "></script>

    <!-- Color Picker -->
    <script src="./Ree _ Home One_files/jquery-ui.min.js.download "></script>
    <script src="./Ree _ Home One_files/bootstrap-select.js.download "></script>
    <script src="./Ree _ Home One_files/evol.colorpicker.min.js.download " type="text/javascript "></script>
    <script src="./Ree _ Home One_files/js.cookie.js.download " type="text/javascript "></script>
    <script src="./Ree _ Home One_files/dmss.js.download "></script>



</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true "></grammarly-desktop-integration>

</html>